includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - bootstrap/app.php
        - routes
    level: 6
    tmpDir: storage/framework/cache/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 4
    ignoreErrors: []
